# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Dependencies
node_modules/

# Environment
.env
.env.local
.env.production

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# OS
.DS_Store
*.swp
.vscode/
.idea/

# EAS
eas-credentials.json
service-account-key.json
